/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

# SBT Ignore Files
images
board/securedbythem/ndr_boot/rootfs_overlay/build.time
board/securedbythem/ndr_boot/rootfs_overlay/hash.block
board/securedbythem/ndr_boot/rootfs_overlay/root.hash

