INSTALLATION_DRIVE=/dev/mmcblk0
ETHERNET_DEVICE=enp1s0
IMAGE_SERVER=https://archive.securedbythem.casadevall.pro/images

ESP_PART=/dev/disk/by-partlabel/ndr-esp
ROOT_PART=/dev/disk/by-partlabel/ndr-rootfs
PERSISTANT_PART=/dev/disk/by-partlabel/ndr-persistant

#INSTALLATION_DRIVE=/dev/sda
#ETHERNET_DEVICE=enp0s3
#IMAGE_SERVER=http://10.0.2.2

BOOT0_IMAGE=$IMAGE_SERVER/bootx64.efi
BOOT_OTA_IMAGE=$IMAGE_SERVER/boot_ota.efi
ROOTFS_IMAGE=$IMAGE_SERVER/rootfs.img.bz2
OTA_TIMESTAMP=$IMAGE_SERVER/ota.timestamp